<div class="container centered">

  <div class="game-map">
    <div id="north">
    </div>
    <div id="west">
    </div>
    <div id="center">
      <span class="hidden" id="aquamarine"><%= render partial: "aquamarine" %></span>
      <span class="hidden" id="chartreuse"><%= render partial: "chartreuse" %></span>
      <span class="hidden" id="cobalt"><%= render partial: "cobalt" %></span>
      <span class="hidden" id="emerald"><%= render partial: "emerald" %></span>
      <span class="hidden" id="lavender"><%= render partial: "lavender" %></span>
      <span class="hidden" id="ochre"><%= render partial: "ochre" %></span>
      <span class="hidden" id="sienna"><%= render partial: "sienna" %></span>
      <span class="hidden" id="vermillion"><%= render partial: "vermillion" %></span>
      <span class="hidden" id="violet"><%= render partial: "violet" %></span>
    </div>
    <div id="east"></div>
    <div id="south"></div>
  </div>


  <div class="text-field centered">

  </div>

  <div class= "input-field centered">
    <%= form_tag("/welcome", method: "post", id: 'user-input') do %>
      <%= text_field_tag 'direction' %>
    <% end %>
  </div>

  <%= link_to "New Game", new_welcome_path, class: "game-button",form: { "data-type" => "json" } %>
</div>
