<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Skein", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "new game", root_path, data: {toggle: "modal", target: "#new-game"} %></li>
        <li><%= link_to "intro", root_path, data: {toggle: "modal", target: "#intro"} %></li>
        <li><%= link_to "about", root_path, data: {toggle: "modal", target: "#about"} %></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
      </div>
      <div class="row">
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box">
          <span class="rooms" id="aquamarine"><%= render partial: "shared/aquamarine" %></span>
          <span class="rooms" id="chartreuse"><%= render partial: "shared/chartreuse" %></span>
          <span class="rooms" id="cobalt"><%= render partial: "shared/cobalt" %></span>
          <span class="rooms" id="emerald"><%= render partial: "shared/emerald" %></span>
          <span class="rooms" id="lavender"><%= render partial: "shared/lavender" %></span>
          <span class="rooms" id="ochre"><%= render partial: "shared/ochre" %></span>
          <span class="rooms" id="burnt_sienna"><%= render partial: "shared/sienna" %></span>
          <span class="rooms" id="vermillion"><%= render partial: "shared/vermillion" %></span>
          <span class="rooms" id="violet"><%= render partial: "shared/violet" %></span>
        </div>
        <div class="col-sm-4 box"></div>
      </div>
      <div class="row">
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
      </div>
      <div class="row">
        <div class="col-sm-8 box text-field"></div>
        <div class="col-sm-4 box" id="inventory"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <%= link_to("North", welcome_index_path, class: "user-select col-sm-2 btn")%>
        <div class="col-sm-1"></div>
        <%= link_to("East", welcome_index_path, class: "user-select col-sm-2 btn")%>
        <div class="col-sm-1"></div>
        <%= link_to("South", welcome_index_path, class: "user-select col-sm-2 btn")%>
        <div class="col-sm-1"></div>
        <%= link_to("West", welcome_index_path, class: "user-select col-sm-2 btn")%>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div id="new-game" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title">New Game</h4>
        <p>Select your difficulty level:</p>
        <%= link_to "start", new_welcome_path, class: "game-button",form: { "data-type" => "json" } %>
      </div>
    </div>
  </div>

  <div id="intro" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title">Introduction</h4>
        <p>Select either north, east, south, or west to wander the labyrinth. You have to collect all the rubies to end the game. But beware, there is a grue that is chasing you. If he walks in on you, the game will be over!</p>
      </div>
    </div>
  </div>

  <div id="about" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title">About</h4>
        <p>Skein is a Ruby on Rails application. Selecting a button will make a ajax request to the  server, where game play is wrtten in Ruby. User interface is built with Bootstrap 386.</p>
      </div>
    </div>
  </div>

  <div id="win-text" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title">You won!</h4>
        <p>You have successfully evaded the Grue, and collected your Rubies. Are you willing to test your luck once again?</p>
      </div>
    </div>
  </div>

  <div id="lose-text" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title">Game over!</h4>
        <p>The Grue has devoured you.</p>
      </div>
    </div>
  </div>

</div>
