<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Skein", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "new game", root_path, data: {toggle: "modal", target: "#new-game"} %></li>
        <li><%= link_to "intro", root_path %></li>
        <li><%= link_to "about", root_path %></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
      </div>
      <div class="row">
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
      </div>
      <div class="row">
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
        <div class="col-sm-4 box"></div>
      </div>
      <div class="row">
        <div class="col-sm-8 box"></div>
        <div class="col-sm-4 box inventory"></div>
      </div>
    </div>
  </div>

  <div id="game-map">
    <div id="north">
    </div>
    <div id="west">
    </div>
    <div id="center">
      <span class="hidden"><%= render partial: "shared/aquamarine" %></span>
      <span class="hidden"><%= render partial: "shared/chartreuse" %></span>
      <span class="hidden"><%= render partial: "shared/cobalt" %></span>
      <span class="hidden"><%= render partial: "shared/emerald" %></span>
      <span class="hidden"><%= render partial: "shared/lavender" %></span>
      <span class="hidden"><%= render partial: "shared/ochre" %></span>
      <span class="hidden"><%= render partial: "shared/sienna" %></span>
      <span class="hidden"><%= render partial: "shared/vermillion" %></span>
      <span class="hidden"><%= render partial: "shared/violet" %></span>
    </div>
    <div id="east"></div>
    <div id="south">
      <div id="ruby-field"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <%= link_to("North", welcome_index_path, class: "user-select col-sm-2 btn")%>
        <div class="col-sm-1"></div>
        <%= link_to("East", welcome_index_path, class: "user-select col-sm-2 btn")%>
        <div class="col-sm-1"></div>
        <%= link_to("South", welcome_index_path, class: "user-select col-sm-2 btn")%>
        <div class="col-sm-1"></div>
        <%= link_to("West", welcome_index_path, class: "user-select col-sm-2 btn")%>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>


  <div class="text-field centered hidden"></div>

  <div class= "input-field hidden">
    <%= form_tag("/welcome", method: "post", id: 'user-input') do %>
      <%= text_field_tag 'direction' %>
    <% end %>
  </div>


  <div id="new-game" class="welcome-text modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title">New Game</h4>
        <p>Select your difficulty level:</p>
      </div>
    </div>
  </div>

  <div id="win-text" class="hidden final-text">
    <center></center>
    Select either north, east, south, or west to wander the labyrinth. You have to collect all the rubies to end the game. But beware, there is a grue that is chasing you. If he walks in on you, the game will be over!
    <center><%= link_to "Okay", root_path, id: "close-window"%></center>
  </div>

  <div id="win-text" class="hidden final-text">
    <center>You win!</center>
    You have successfully evaded the Grue, and collected your Rubies. Are you willing to test your luck once again?
    <center><a href="" id="replay">Play Again</a></center>
  </div>

  <div id="lose-text" class="hidden final-text">
    <center>Game over</center>
    As you were deciding which door to try next, the Grue entered the room and devoured you.
    <center><a href="" id="replay">Play Again</a></center>
  </div>

</div>
