<div class="container centered">

  <div class="game-map">
    <div id="north">
    </div>
    <div id="west">
    </div>
    <div id="center">
      <span class="hidden" id="aquamarine"><%= render partial: "shared/aquamarine" %></span>
      <span class="hidden" id="chartreuse"><%= render partial: "shared/chartreuse" %></span>
      <span class="hidden" id="cobalt"><%= render partial: "shared/cobalt" %></span>
      <span class="hidden" id="emerald"><%= render partial: "shared/emerald" %></span>
      <span class="hidden" id="lavender"><%= render partial: "shared/lavender" %></span>
      <span class="hidden" id="ochre"><%= render partial: "shared/ochre" %></span>
      <span class="hidden" id="burnt_sienna"><%= render partial: "shared/sienna" %></span>
      <span class="hidden" id="vermillion"><%= render partial: "shared/vermillion" %></span>
      <span class="hidden" id="violet"><%= render partial: "shared/violet" %></span>
    </div>
    <div id="east"></div>
    <div id="south">
      <div id="ruby-field"></div>
    </div>
  </div>


  <div class="text-field centered">

  </div>

  <div class= "input-field centered">
    <%= form_tag("/welcome", method: "post", id: 'user-input') do %>
      <%= text_field_tag 'direction' %>
    <% end %>
  </div>

  <div id="win-text" class="hidden final-text">
    You win!!
  </div>

  <div id="lose-text" class="hidden final-text">
    The grue devoured you, try again
  </div>

  <%= link_to "New Game", new_welcome_path, class: "game-button",form: { "data-type" => "json" } %>
</div>
