<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Skein", class: "brand" %>

      <div class="nav_collapse collapse">
        <ul class="nav">
          <li><%= link_to "start" %></li>
          <li><%= link_to "intro" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container centered">

  <div id="game-map">
    <div id="north">
    </div>
    <div id="west">
    </div>
    <div id="center">
      <span class="hidden"><%= render partial: "shared/aquamarine" %></span>
      <span class="hidden"><%= render partial: "shared/chartreuse" %></span>
      <span class="hidden"><%= render partial: "shared/cobalt" %></span>
      <span class="hidden"><%= render partial: "shared/emerald" %></span>
      <span class="hidden"><%= render partial: "shared/lavender" %></span>
      <span class="hidden"><%= render partial: "shared/ochre" %></span>
      <span class="hidden"><%= render partial: "shared/sienna" %></span>
      <span class="hidden"><%= render partial: "shared/vermillion" %></span>
      <span class="hidden"><%= render partial: "shared/violet" %></span>
    </div>
    <div id="east"></div>
    <div id="south">
      <div id="ruby-field"></div>
    </div>
  </div>

  <div class="text-field centered"></div>

  <div>
    <%= link_to("North", welcome_index_path("north"), class: "user-select")%>
    <%= link_to("East", welcome_index_path, class: "user-select")%>
    <%= link_to("South", welcome_index_path, class: "user-select")%>
    <%= link_to("West", welcome_index_path, class: "user-select")%>
  </div>

  <div class= "input-field centered">
    <%= form_tag("/welcome", method: "post", id: 'user-input') do %>
      <%= text_field_tag 'direction' %>
    <% end %>
  </div>


  <div class="welcome-text centered">
    <center>Welcome to Skein</center>
    Skein is a text based adventure game, where you wander around a labyrinth in search of precious Rubies. But dont let the Grue get a hold of you, you will perish if he does!
    <center>
      <%= link_to "Okay", new_welcome_path, class: "game-button",form: { "data-type" => "json" } %>
    </center>
  </div>

  <div id="win-text" class="hidden final-text">
    <center>You win!</center>
    You have successfully evaded the Grue, and collected your Rubies. Are you willing to test your luck once again?
    <center><a href="" id="replay">Play Again</a></center>
  </div>

  <div id="lose-text" class="hidden final-text">
    <center>Game over</center>
    As you were deciding which door to try next, the Grue entered the room and devoured you.
    <center><a href="" id="replay">Play Again</a></center>
  </div>

</div>
